/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*<html> and <body> Style*/
html, 
body {
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

/*Upload Image Style*/
.upload-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #4CAF50, #388E3C, #317D43, #1E4425);
}

.image-preview {
    width: 450px;
    height: 520px;
    background: #FFF;
    border-radius: 15px;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
    padding: 25px;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

.preview {
    width: 400px;
    height: 350px;
    background: #F0F0F0;
    border-radius: 15px;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

.preview::before {
    position: absolute;
    content: "\f03e";
    font-family: "Font Awesome 5 Free";
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    color: #C8C8C8;
    z-index: 0;
    text-align: center;
    line-height: 1.2;
}

.preview::after {
    position: absolute;
    content: "Arraste e solte a imagem da pegada aqui. Formatos aceitos: JPEG, JPG e PNG";
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    color: #C8C8C8;
    text-align: center;
    width: 100%;
    top: 200px;
}

.preview img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 2;
    display: none;
}

.load-image-upload {
    position: absolute;
    width: 80%;
    height: 5px;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #F0F0F0;
    z-index: 3;
    border-radius: 3px;
    overflow: hidden;
    visibility: hidden;
}

.load-image-upload::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #4CAF50;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: #FFF;
    color: #2E2E2E;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    display: none;
    padding: 2px;
}

.btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn input { 
    display: none;
}

.btn label {
    width: 100%;
    height: fit-content;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #FFF;
    background: #4CAF50;
    padding: 10px 0;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
    transition: 0.3s ease-in;
}

.btn label:hover {
    background-color: #FFF;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

.preview.active img {
    filter: blur(0px) brightness(100%);
    display: block;
}

.preview.active .close {
    display: block;
}

.preview.active.animate .close {
    display: block;
}

.preview.active.animate img {
    filter: blur(0px) brightness(100%);
    animation: blur 3s ease-in;
}

@keyframes blur {
    0%, 90% {
        filter: blur(10px) brightness(60%);
    }
    100% {
        filter: blur(0) brightness(100%);
    }
}

.preview.active.animate .load-image-upload {
    animation: hide 2.8s linear;
}

.preview.active.animate .load-image-upload::before {
    width: 100%;
    animation: progress 2.75s forwards;
}

@keyframes progress {
    from {
        width: 0;
    }
}

@keyframes hide {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}